<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
<div class="sign-up">
  <div class="form-inputs show-holder sign-up-form">
    <%= f.input :first_name,
    placeholder: "Patrick",
    required: true,
    autofocus: true,
    input_html: {autocomplete: "first_name" }  %>
    <%= f.input :last_name,
    placeholder: "Bateman",
    required: true,
    autofocus: true,
    input_html: {autocomplete: "last_name" }  %>
    <%= f.input :email,
    placeholder: "batemanp@pierceandpierce.com",
    required: true,
    autofocus: true,
    input_html: { autocomplete: "email" }%>
    <%= f.input :dob, as: :date, html5: true,
    label: "Date of birth:",
    start_year: Date.today.year - 18,
    end_year: Date.today.year - 90 %>
    <%= f.input :location,
    label: "Location:",
    placeholder: "Nuneaton",
    required: true,
    autofocus: true,
    input_html: {autocomplete: "location" }  %>
    <%= f.input :bio, as: :text,
    label: "Tell us a little about yourself (100 words max):",
    placeholder: "I've been a big Genesis fan ever since the release of their 1980 album, Duke.",
    autofocus: true %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :password,
    label: "Enter a password:",
    required: true,
    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
    input_html: { autocomplete: "new-password" } %>
     <%= f.input :hero,
    as: :radio_buttons,
    label: "Do you...",
    required: true,
    autofocus: true,
    collection: [[true, 'want to be a +1?'], [false, 'need a +1?']],
    label_method: :second, value_method: :first %>
    <div class="form-actions">
      <%= f.button :button, class: "btn btn-flat" do %>
        Complete sign-up
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<%#= render "devise/shared/links", resource_name: :user, devise_mapping: @devise_mapping %>


