<% hero = User.find(params[:user_id]) %>
<% zero = current_user %>

<%= simple_form_for([hero, @booking]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].
  to_sentence if f.object.errors[:base].present? %>

  <div class="form-input">
    <%= f.input :date, as: :date, html5: true,
    label: "Select your event date" %>
    <%= f.input :description, label: "Describe your event and why YOU need a PlusOne..." %>
  </div>

  <div class="form-actions d-flex justify-content-center">
    <%= f.button :submit, "Book PlusOne", class: "btn-flat" %>
  </div>
<% end %>

