<div class="container">
  <h1><%=@user.first_name.capitalize%> <%=@user.last_name.capitalize%></h1>

  <div class=" user-bio d-flex justify-content-between">
    <p><%#= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %></p>
    <div class="info">
      <p><strong>Location: </strong></p>
      <p><%= @user.location %></p>
      <p><strong>DOB: </strong></p>
      <p><%= @user.dob %></p>
      <p><strong>Bio: </strong></p>
      <p><%= @user.bio %></p>
      <p><strong>Email: </strong></p>
      <p><%= @user.email %></p>
      <p><strong>Skills:</strong></p>
      <% @user.skills.each do |skill| %>
      <ul>
      <li><%= skill.skillset %></li>
      </ul>
      <% end %>
    <%= link_to "Book me",  new_user_booking_path(@user), class: "btn btn-flat" %>
    <%= link_to "Return to heroes", users_path, class: "btn btn-flat"%>
    </div>
  </div>
</div>
