<br>
<br>
<br>
<br>
<div class="show-holder show">
  <h1><%=@user.first_name.capitalize%> <%=@user.last_name.capitalize%></h1>

  <div class=" user-bio d-flex justify-content-between">
    <div class="imgnbtns">
     <%= cl_image_tag @user.photo, height: 300, width: 300 %>
     <div>
    <% unless @user == current_user %>
      <div class="center-flex">

      </div>
      <% end %>
    </div>
     </div>
    <div class="info">

      <p><strong>Location: </strong><%= @user.location %></p>
      <br>
      <p><strong>Age: </strong><%=((Date.today - @user.dob)/365).floor %></p>
      <br>
      <p><strong>Bio: </strong><%= @user.bio %></p>
      <br>
      <p><strong>Email: </strong><%= @user.email %></p>
      <br>
      <p><strong>Skills:</strong></p>
      <% @user.skills.each do |skill| %>
      <ul>
      <li><%= skill.skillset %></li>
      </ul>
      <% end %>
    </div>
  </div>
    <div class="review-show">
      <% @user.reviews.each do |review|%>
        <p><strong>Rating: </strong></p><%= review.ratings %>
        <p><strong>Description: </strong></p><%= review.content  %>
      <% end %>
    </div>
</div>

