

<div class="banner p-3 my-3 d-flex flex-column rounded">
    <h1 class="mb-auto">Choose your PlusOne</h1>
    <h3>We found <%= User.all.count %> PlusOnes in your local area</h3>
</div>
<hr>
<div class="cards">

<% @users.each do |user| %>

<div class="card p-3" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url(<%= user.photo %>); background-position: center;">
  <%#= cl_image_tag user.photo, height: 300, width: 400, crop: :fill %>
  <div class="card-body">
    <div class="card-title">
      <h2><%= user.first_name %></h2>
    </div>
    <span class="card-text"><%= user.location %></span>
    <span class="card-button">
    <%= link_to "Meet #{user.first_name}", user_path(user), class: "btn btn-flat" %>
    </span>
  </div>
</div>
<% end %>


