

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s24193.pcdn.co/wp-content/uploads/2017/08/candice-horde-entity-@artofgeorge-1.png);">
  <div class="container">
    <h1>Heros available for you to pick</h1>
    <h2>Select a user for more information</h2>
  </div>
</div>

<div class="cards">

<% @users.each do |user| %>

<div class="user-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" class="main-image">
  <%#= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
  <div class="info">
    <div>
      <h2><%= user.first_name %></h2>
      <p> <ul>
            <li><%= user.location %></li>
            <li><%= ((Date.today - user.dob)/365).floor %> years old</li>
            <li><%= user.bio %></li>
          </ul></p>
    </div>
    <%= link_to "View hero", user_path(user), class: "btn btn-flat" %>
    <h2 class="user-card-info "></h2>
  </div>
</div>
<% end %>


