<div class="banner typed-">

    <h1>Zero Plus One</h1>

    <h2>Find the perfect plus one for your awkward family event!</h2>

    <div class="d-flex content">
      <div class="form">
        <%= render 'devise/registrations/signup_form', resource: @resource, resource_name: :user, devise_mapping: @devise_mapping %>
        <%= link_to 'sign-out', destroy_user_session_path, method: :delete%>
      </div>
      <div class="cards">
        <% @users.each do |user|  %>
          <div>
            <%= link_to user_path(user) do %>

            <%= cl_image_tag("jsykvwvvpvw9pcrpgwio", :transformation=>[
              {:effect=>"vectorize"},
              {:gravity=>"face"},
              {:height=>300, :crop=>"scale"}
              ]) %>
              <br>
              <%= user.first_name %>
              <% end %>
            <br>
            <span class="text-muted">
              (<%= user.location %>)
            </span>
                      </div>
        <% end %>
      </div>
    </div>

    <p><%= link_to "Find a hero", users_path, class: "btn btn-gradient" %></p>
  </div>
